@media (max-width: 2200px) {
  .barraimg {
    position: relative;
    right: 1100px;
  }
  @keyframes barraimg {
    0% {
      right: -1100px;
    }
    100% {
      right: 1100px;
    }
  }
  .tituloshero {
    display: none;
  }
}
@media (max-width: 2000px) {
  .barraimg {
    right: 1300px;
  }
  @keyframes barraimg {
    0% {
      right: -1300px;
    }
    100% {
      right: 1300px;
    }
  }
}

@media (max-width: 1700px) {
  .barraimg img {
    width: 130px;
  }
  #img1 {
    width: 240px;
  }
  #img2 {
    width: 410px;
  }
  .barraimg {
    right: 1200px;
  }
  @keyframes barraimg {
    0% {
      right: -1200px;
    }
    100% {
      right: 1200px;
    }
  }
  .img-medicion,
  .img-barrenos {
    width: 25%;
  }
}
@media (max-width: 1400px) {
  .barrenos h2,
  .medicion h2,
  .img-text-regalo h2,
  .titulointegrantes h2,
  .contacto h2,
  .venta h2 {
    font-size: 30px;
  }
  .text-barrenos,
  .text-medicion {
    font-size: 20px;
  }
  .img-medicion,
  .img-barrenos {
    width: 30%;
  }
  .barraimg img {
    width: 110px;
  }
  #img1 {
    width: 190px;
  }
  #img2 {
    width: 330px;
  }
  .barraimg {
    right: 1200px;
  }
  @keyframes barraimg {
    0% {
      right: -1200px;
    }
    100% {
      right: 1200px;
    }
  }
  .ulnav {
    gap: 35px;
  }
}

@media (max-width: 1200px) {
  .img-medicion,
  .img-barrenos {
    width: 40%;
  }
  .text-barrenos {
    padding: 0px;
  }
  .datoscontacto a,
  .datosventas a {
    font-size: 15px;
  }
  .datoscontacto a img {
    width: 40px;
  }
  .datosventas a img {
    width: 60px;
  }
  .contactomain {
    width: 100%;
    padding: 30px 50px;
  }
}
@media (max-width: 1100px) {
  .barraimg img {
    width: 130px;
  }
  #img1 {
    width: 240px;
  }
  #img2 {
    width: 410px;
  }
  .barraimg {
    right: 1600px;
  }
  @keyframes barraimg {
    0% {
      right: -1600px;
    }
    100% {
      right: 1600px;
    }
  }
}
@media (max-width: 900px) {
  .ulnav a,
  nav a {
    font-size: 17px;
  }
  nav {
    padding: 0px 20px;
  }
  .text-barrenos,
  .text-medicion {
    font-size: 15px;
    padding: 0px;
  }
  .barrenos,
  .medicion {
    gap: 10px;
    padding: 5px;
  }
  .barraimg {
    right: 1700px;
  }
  @keyframes barraimg {
    0% {
      right: -1700px;
    }
    100% {
      right: 1700px;
    }
  }
}
@media (max-width: 800px) {
  #integrantes h3 {
    font-size: 15px;
  }
  .contactnav,
  .ulnav a {
    font-size: 15px;
  }
  .contactnav {
    padding: 5px 20px;
  }
  .ulnav {
    gap: 15px;
  }

  #integrantes img {
    width: 100px;
    height: 100px;
  }
  .integrantesgrupo ul {
    gap: 30px;
  }
  .barrenos h2,
  .medicion h2,
  .img-text-regalo h2,
  .titulointegrantes h2,
  .contacto h2,
  .venta h2 {
    font-size: 25px;
  }
}
@media (max-width: 650px) {
  .barraimg {
    right: 1700px;
  }
  @keyframes barraimg {
    0% {
      right: -1300px;
    }
    100% {
      right: 1300px;
    }
  }
  .barraimg img {
    width: 90px;
  }
  #img1 {
    width: 150px;
  }
  #img2 {
    width: 280px;
  }
}
@media (max-width: 600px) {
  .ulnav {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100px;
    right: 0px;
    padding: 0px 30px;
    padding-top: 100px;
    justify-content: start;
    align-items: center;
    gap: 30px;
    height: 100vh;
    background: rgba(63, 167, 67, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);;
  }
  #menulabel{
    display: flex;
  }
  #menulabel img{
width: 50px;
  }
  #menu:checked + .ulnav{
    display: flex;
    
  }
  #menu:checked + .equipo-texto{
    color: red;
    background-color: rebeccapurple;
  }


  .contactnav {
    display: none;
  }
  #licontacto {
    display: flex;
  }
}
@media (max-width: 400px) {
  .barraimg {
    right: 1400px;
  }
  @keyframes barraimg {
    0% {
      right: -1400px;
    }
    100% {
      right: 1400px;
    }
  }
  .barraimg img {
    width: 90px;
  }
  #img1 {
    width: 150px;
  }
  #img2 {
    width: 280px;
  }
}
