* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;

}
:root {
  --girsclaro: #e0e0e0;
  --amarillo: #e9f679;
  --amarilloepa: #dbdc26;
  --verdeepa: #59b54d;
  --grisoscuro: #3f3e3e;
  --verdemusgo: #84b082;
  --tierra: #dda77b;
  --tierra2: #dcbf85;
  --titulos: 'CooperHewitt-Heavy', arial;
  --info: 'HK Grotesk', sans-serif;
}

body {
  background-color: var(--girsclaro);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dda77b' fill-opacity='0.29' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  width: 100%;
  height: 100vh;
  color: var(--grisoscuro);
  font-family: var(--info);
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
#logoepa {
  width: 70px;
  height: 70px;
}
.ulnav {
  display: flex;
  gap: 30px;
}
.hero {
  width: 100%;
  
}
.hero img {
  width: 100%;
}
.div-catalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.barrenos-img-text{
  display: flex ;
  width: 100%;
  justify-content: center;
  gap: 100px;
  align-items: center;
  
}
.barrenos {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.barrenos h2{
  font-size: 40px;
  font-weight: 600;
  font-family: var(--titulos);
  text-transform: uppercase;
}
.img-barrenos {
  width:25%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img-catalogo/2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  animation: slidebackgraund 12s ease 0s infinite forwards;
}
.text-barrenos{
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: var(--info
  );
}
/* 
#img1 {
  animation: slid11 12s ease 0s infinite forwards;
}
#img2 {
  animation: slid22 12s ease 0s infinite forwards;
}
#img3 {
  animation: slid33 12s ease 0s infinite forwards;
}
#img1 {
  position: relative;
 width: 100%;
}
#img2{
  position: relative;
  left:-61%
}
#img3{
  position: relative;
  left:-150%
}
 */
.text-barrenos {
    
 padding: 50px;
    font-size: 30px;
    font-weight: 600;
}
.barrenos p span{
    color: var(--tierra);
    font-weight: 600;
}
.tituloshero {
  position: absolute;
  top: 200px;
  right: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.tituloshero h1 {
  font-size: 200px;
  color: var(--girsclaro);
  -webkit-text-stroke: 5px black;
  animation: slidetitulos 1.5s ease-out 0s 1 normal both;
  text-transform: uppercase;
  font-family: var(--titulos);
}
.tituloshero h2 {
  font-size: 38px;
  color: var(--girsclaro);
  -webkit-text-stroke: 2px black;
  animation: slidetitulos 1s ease-out 0.5s 1 normal both;
}
.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 30px;
}
.equipo-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
}
.integrantesgrupo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.integrantesgrupo ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
}
#integrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#integrantes img {
  border: var(--verdeepa) solid 2px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px white;
}

#integrantes h3 {
  font-size: 23px;
  font-family: var(--titulos);
  text-transform: uppercase;
}
.titulointegrantes h2 {
  font-size: 35px;
  font-family: var(--titulos);
  text-transform: uppercase;
}
.div-catalogo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-catalogo iframe {
  height: 900px;
  width: 30%;
}
@keyframes slde {
  0% {
    margin-left: 0;
  }
  27% {
    margin-left: 0;
  }

  33% {
    margin-left: -200%;
  }
  59% {
    margin-left: -200%;
  }

  66% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }

  95% {
    margin-left: -400%;
  }
  0% {
    margin-left: 0%;
  }
}
/* @keyframes slide1 {
  0% {
    opacity: 1;
   
  }
  33% {
    opacity: 1;
  }
  39%{
    opacity: 0;
   
  }
  100% {
    opacity: 0;
    
  }
}
@keyframes slide2 {
    0% {
      opacity: 0;
     
    }
    33% {
      opacity: 0;
       }
    39%{
      opacity: 1;
    }
    66%{
        opacity: 1;
    }
    72%{
        opacity: 0;
    }
    100% {
      opacity: 0;
 
    }
  }
@keyframes slide3 {
    0% {
      opacity: 0;
     
    }
    66%{
      opacity: 0;
    }
    72%{
        opacity: 1;
    }
    100% {
      opacity: 1;
    }
    } */
    @keyframes slidebackgraund {
      0% {background-image: url(./img-catalogo/2.jpg);
      }
      33%{
        background-image: url(./img-catalogo/2.jpg);
      }
      37%{
        background-image: url(./img-catalogo/3.jpg);
        
      }
      65%{background-image: url(./img-catalogo/3.jpg);
      }
      69%{background-image: url(./img-catalogo/4.jpg);
        
      }
      100% {
        background-image: url(./img-catalogo/4.jpg);
      }
      }
  
