*{
    margin: 0;
    padding:0;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth;
    /* border: solid red 1px; */
}
:root{
      --verdeclaro: #9bdf46; 
      --girsclaro: #e0e0e0;      
      --amarillo: #e9f679;     
      --azul: #346473; 
     --verdeoscuro: #25a55f; 
     --verdeazulado: #3a7563;

}
nav{
    width: 100%;
}
body {
    background-image: url(./img/epa\ hero.jpg);
    background-repeat:repeat;
    background-size:cover;
    background-position:inherit;
    list-style: none;
    background-attachment:fixed;
}
.conteiner{
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background-color:var(--verdeoscuro)
}


.logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 50px;

}
.ulnav li { 
    display: inline-block;
    padding: 3px;
    margin: 20px;
  
}
.ulnav li a {
    padding: 4px;
    border: 2px black solid;
    border-radius: 3px;
    
    

}
.ulnav li a:hover {
    color: whitesmoke;
    background-color: #222;
    box-shadow: 5px 5px black;
}

.menulabel, #menuinput{
    display: none;
}

.hero{
    margin: 30px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 100px;
    width: 95%;
}

.hero h2{
    font-size: 50px;
    margin-bottom: 30px;
   
}
.hero p{
    align-items: center;
    justify-content: flex-start;
    display: flex;
    font-weight: 600;
}

.buttons{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
.buttons a input {
    gap: 300px;
}
#button-contactos, #button-productos{
    padding: 5px 20px;
    border: 2px black solid;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
#button-contactos:hover, #button-productos:hover{
    background-color: var(--verdeoscuro);
    box-shadow: 5px 5px;
}

/*style products*/
.products{
    flex-flow: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.barreno1, .barreno3 {
    display: flex;
    gap: 150px;
    flex-direction: row-reverse;
    align-items: center;

}
.barreno2 {
    display: flex;
    gap: 150px;
    flex-direction:row;
    align-items: center;

}


.imagebarreno{
    display: flex;
    gap: 20px;
       
}
.products h2 {
   margin-top: 30px;
    text-align: center;
    font-size: 30px;
    text-shadow:1px 1px rgb(255, 255, 255);
    background-color:var(--girsclaro);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}
.imagebarreno img {
    border: solid 3px rgba(23, 22, 22, 0.6);
    border-radius: 5px;
}
.imagebarreno2 img {
    border: solid 3px rgba(23, 22, 22, 0.6);
    border-radius: 5px;
}
.products h4{
    font-size: 18px;
    text-decoration: underline;
    text-shadow:1px 1px rgb(255, 255, 255);
    background-color: var(--girsclaro);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    margin-top: 30px;
}
#completebarreno{
    width: 300px;
    height: 600px;
}
#zoombarreno1, #zoombarreno1{
    width: 200px;
    height: 295px;
}
#zoombarreno2, #zoombarreno2{
    width: 250px;
    height: 295px;
}
.imagezoom, img{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.products h4{
    margin-bottom: 30px;
}
.detailsbarreno{ 
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color:var(--girsclaro);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
 
}
.detailsbarreno ul{ 
    border:rgba(23, 22, 22, 0.5) solid 3px;
    list-style:disc;
   padding:30px;
   justify-content: center;
   align-items: center;
   padding:30px 100px;
   text-align:center;
 
}
.detailsbarreno ul li{ 
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bolder ;
    text-shadow:1px 1px rgb(255, 255, 255);
    
}
/*style section ubications*/
.ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: row-reverse;
  
}
.ubicacion p {
    font-size: 20px;
    font-weight: 550;
    background-color: var(--girsclaro);
    border-radius: 2px;
    
}
.ubicacion img {
    padding: 3px;
    border-radius: 1rem;

}
.textoubicacion{
    padding: 10px 30px;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.contacto h2, .contacto p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    font-weight: 600;
}
.contactconteiner{
    display: flex;
    
    
}
.contactcel ul, .contactredsocial ul
{
    list-style: none;
    gap: 200px;
    max-width: 100%;
    justify-content: center;
}
.contactcel:hover, .contactredsocial:hover{
    background: rgb(113, 134, 118, 0.9);
    zoom: 120%;
        box-shadow: 5px 5px;
}
.contactcel li, .contactredsocial li 
{
    color: #e0e0e0;
    font-weight: 300;
}
.contactcel, .contactredsocial{
    border: solid 2px gray;
    border-radius: 1rem;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    background: rgb(113, 134, 118, 0.6);
    margin: 30px;
    
    }

@media (max-width:930px){
    .hero{
        margin: 70px 0px 0px 20px;
        flex-direction: column;
        height: 600px;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .hero img{
        height: 150px;
        margin-top: -60px;
    }
    .infohero {
        background-color: var(--girsclaro);
        border: 1px black solid;
        border-radius: 10px;
        padding: 10px;
    }
    .ubicacion{
        padding: 0px;
        width: 100%;
        gap: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px;
        }
    .ubicacion img{
        zoom: 70%;
        padding-left: 20px;

    }
  

    .menulabel img {
        width: 50px;
        height: 50px;
    }
    .menulabel{
        display: flex;
       
        top:30px;
        right: 15px;
        cursor: pointer;
    }
    .ulnav{
        position: absolute;
        top:100px;
        width: 70%;
        right: 15%;
        left: 15%;
        flex-direction: column;
        display: none;
        align-items: center;
        background-color: var(--girsclaro);
        border: 2px var(--verdeazulado) solid ;
        border-radius: 0 0 20px 20px;
        border-top: 0px;
        gap:10px;
        z-index: 2;
        
    }
    #menuinput:checked +.ulnav {
        display:flex ;
    }
    
    .products{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .barreno1{
        flex-direction: column-reverse;
       
    }
.barreno{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-bottom: 20px;
}
.detailsbarreno{
    width: 250px;
}
.detailsbarreno ul li {
    font-size: 10px;
}
.detailsbarreno ul {
    padding: 15px;
    margin: 1px;
    list-style: none;
}
   }
.contacto{
    display: flex;
    flex-direction: column;
}
.contactconteiner{
    display: flex;
    flex-direction: column;
}

@media (max-width:440px)
{
    .hero{
        margin-top: 100px;
    }
    .infohero{
        max-width: 100%;
        flex-wrap: wrap;
        margin: 0 30px;
    }
    .infohero h2{
        font-size: 30px;
    }
    .buttons form{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
            }
  .ubicacion{
    margin-top: 50px;
    gap: 30px;
  }
  .hero img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactcel, .contactredsocial{
    font-size: 15px;
    margin: 5px;
    padding: 10px;
}
.contacto{
    text-align: center;
}
.contactconteiner{
    margin: 0px 20px;
}
.buttons form{
    gap: 10px;
    
}
}


